body *{
    font-family: 'Open Sans', sans-serif;
}

html{
    zoom: 75%;
}


h1 {
    text-align: center;
    color: #527298 ;
    font-size: 50px;
    font-weight: 900;
    
}

h4 {
    text-align: center;
    color: #656565 ;
    font-size: 20px;
    font-weight: 900;
    
}
p {text-align: left;
    font-size: 20px;
    color: #494949

}

body {
    background-color: rgb(242, 242, 242);
}

.page {
    width: 2000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {

    width:500px;
   

 
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}
